* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #32312f;
    font-family: sans-serif;
}

.container {
/* background-color: #f1f1f1; */
padding: 0 10%;
margin: 40px auto 0;
}
h1{
    font-size: 40px;
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 40px;
    margin-top: 30px;
}
.container .buttons{
    align-items: center;
    background-color: #8828ee;
    border: 2px solid #FFFFFF;
    justify-content: center;
    
}

table {
    width: 100%;
    border-collapse: collapse;
}
table thead {
    background-color: #ee2828;
}
table thead tr th {
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    border: 1px solid #ffffff;
}
table tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #f1f1f1;
    padding: 8px;
    background-color: #3c3f44;
    text-align: center;
    border: 1px solid #dedede; 
}